/* Google Fonts - Roboto Slab  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #168101;
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#scoreBox {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
}

#highScoreBox{
    position: absolute;
    top: 60px;    
    right: 20px;
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
}

#board {
    background: linear-gradient(rgb(114, 194, 114), rgb(255, 255, 124));
    border: 2px solid black;
    width: 90vmin;
    height: 90vmin;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.snakeHead{
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
}

.snake{
    background-color: purple;
    border-radius: 30%;
}
.food {
    /* background-color: yellow; */
    background: linear-gradient(red, yellow);
    border: 1px solid black;
    border-radius: 50%;
}

#snakeImage{
    position: absolute;
    bottom: 5px;
    left: 30px;
    background-image: url("../images/snake.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 180px;
}